<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SX Manila | Events </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/1-index.css">
    </head>
    <style>
        .past-edit-icon {
            position: absolute;
            top: 30px;
            right: 10px;
            width: 24px;
            height: 24px;
            cursor: pointer;
            background-color: rgba(74, 74, 74, 0.31);
            border-radius: 50%;
            border: 2px solid transparent;
            box-sizing: border-box;
        }

        .pastEvent {
            position: relative; /* Ensure positioning context for the icon */
        }
    </style>
        
    <body>
        <!--------------------HEADER-------------------->
        <div id="header">   
            <div id="current-events">
                <div id="text-container">
                    <p id="live-events">Show here current live events</p>
                    <p id="more-info">For more information <span class="highlight" style="cursor: pointer;" onclick="window.location.href='2-events.hbs';">Click Here</span></p>
                </div>
            </div>

            <div id="nav">
                <a href="4-admin-homepage.hbs">
                    <img id="nav-logo" src="../images/1-index/nav-logo.png" alt="logo">
                </a>
                
                <img id="nav-hamburger" src="../images/1-index/nav-hamburger.png" alt="menu hamburger">
        
                <div id="nav-panel">
                    <div id="nav-buttons">
                        <a href="4-admin-homepage.hbs">Home</a>
                        <a href="6-admin-about.hbs">About Us</a>
                        <a href="5-admin-events.hbs">Events</a>
                        <a href="#">Bookings</a>
                        <a href="#">Merchandise</a>
                        <a href="#" id="sign-in-link">Sign In</a>
                        <a href="/">Log Out</a>
                    </div>
                </div>
            </div>
            
            <div class="red-bar bottom-bar"></div>
        </div>

        <!--------------------SIGN IN-------------------->
        <div id="sign-in-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <img id="sign-in-logo" src="../images/1-index/nav-logo.png" alt="logo">

                <p class="popup-text">Welcome back</p>

                <form id="sign-in-form">
                    <input type="text" id="sign-in-email" name="email" placeholder="Email">
                    
                    <input type="password" id="sign-in-password" name="password" placeholder="Password">
                    
                    <label for="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me"> Remember me
                    </label>
                    
                    <button type="submit" id="sign-in-btn">Sign In</button>
                </form>

                <div id="to-register-container">
                    <p>No account yet? <button id="to-register-btn">Register</button>.</p>
                </div>
            </div>
        </div>

        <!--------------------REGISTER-------------------->
        <div id="register-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <p class="popup-text">Register</p>

                <form id="register-form" action="/register" method="post">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">

                    <label for="register-email">Email</label>
                    <input type="text" id="register-email" name="email">

                    <label for="contact-number">Contact Number</label>
                    <input type="text" id="contact-number" name="contactNumber">

                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="password">

                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password">

                    <button type="submit" id="register-btn">Register</button>
                </form>

                <div id="to-sign-in-container">
                    <p>Have an account already? <button id="to-sign-in-btn">Sign In</button>.</p>
                </div>
            </div>
        </div>

        <!--------------------PAST EVENTS-------------------->

        <div class="past-events-frame">
            <div id="past-events-header">
                <div id="past-search-container">
                    <div id="past-filter">
                        <img src="../images/2-events/past-filter.png" alt="filter icon" id="past-filter">
                    </div>
                    <div id="past-search-bar">
                        <input type="text" id="past-search-input" placeholder="Search">
                        <img src="../images/2-events/past-search.png" alt="search icon" id="past-search-icon">
                    </div>
                </div>
            </div>
            <p id="past-events-title">Past Events</p>

            <!--------------------ADMIN: ADD PAST EVENT-------------------->
            <script>console.log("IT was able to go to past events of admin")</script>
            <div id="add-past-event">
                <button id="add-past-event-btn">
                    <img src="../images/1-index/plus.png" alt="add icon" id="add-icon-past">
                        Create New Event Album
                    </button>
            </div>
            <div class="pastEventList">
            <!-- past events -->
                {{#each eventsData}}
                    <div class="pastEvent">
                        <div id="eventId" style="display: none;">{{this.id}}</div>
                        <img class="pastEvent-image" src="{{this.cover}}" alt="{{this.title}}">
                        <img src="../images/1-index/pencil.png" alt="edit icon" class="past-edit-icon" data-id="{{this.id}}">
                        <div class="pastEvent-detailBox">
                            <span class="pastEvent-details">{{this.title}}</span>
                        </div>
                        <!-- Gallery for event images -->
                        <div class="event-gallery">
                        {{#each this.gallery}}
                                <img src="{{this}}" alt="Event Image">
                        {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!--------------------PAST EVENTS POPUPS-------------------->
        <div id="past-event-popup" class="event-popup">
            <div class="event-popup-content past-event-popup-content">
                <div id="past-event-details" class="event-details"></div>
                <div class="popupImage-container">
                    <div class="arrowPopup left"></div>
                    <img id="past-event-image" class="event-image" src="" alt="Past Event Image">
                    <div class="arrowPopup right"></div>
                </div>
            </div>
        </div>
        

        <div id="footer">
            <p id="contact-us">CONTACT US</p>

            <div id="contact-details">
                <p>example@gmail.com</p>
                <p>+63 9XX XXXX</p>
            </div>

            <div id="socials">
                <a href="https://www.facebook.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-fb.png" id="fb-icon" class="socials-icon"></a>
                <a href="https://www.instagram.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-ig.png" id="ig-icon" class="socials-icon"></a>
                <a href="https://x.com/sxmanila" target="_blank"><img src="../images/1-index/footer-x.png" id="x-icon" class="socials-icon"></a>
            </div>
        </div>

        <script src="../js/0-universal.js"></script>
        <script src="../js/2-events.js"></script>
        <script src="../js/5-admin-events.js"></script>
        <script src="../js/login.js"></script>
    </body>

</html>